---
---

@import "{{ site.theme }}";

p {
    text-align: justify;
}

.ol {
    text-align: left;
}

.ul {
    text-align: left;
}

// profile picture
#pp {
    border-radius: 50%;
    margin-right: 2rem;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.project-tagline {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 3rem 6rem;
    }
    #pp {
        max-height: 200px;
    }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 2rem 4rem;
    }
    #pp {
        max-height: 150px;
    }
}
@media screen and (max-width: 42em) {
    .page-header {
        padding: 1rem 1rem;
    }
    #pp {
        max-height: 100px;
    }
}

.checklist {
    list-style: "\2705";
    li {
        padding-left: 0.5rem;
    }
}

// Tags

@mixin tag {
    border-radius: 8px;
    color: white;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 8px;
    margin-right: 8px;
    opacity: 60%;
    padding: 6px;
}

.akka {
    @include tag;
    background-color: #326d9e;
}
.akka::after {
    content: "Akka"
}

.beam {
    @include tag;
    background-color: #38a269;
}
.beam::after {
    content: "Apache Beam"
}

.df {
    @include tag;
    background-color: #146d82;
}
.df::after {
    content: "Google Dataflow"
}

.graphql {
    @include tag;
    background-color: #38a269;
}
.graphql::after {
    content: "GraphQL"
}

.hadoop {
    @include tag;
    background-color: #146d82;
}
.hadoop::after {
    content: "Hadoop"
}

.kafka {
    @include tag;
    background-color: #146d82;
}
.kafka::after {
    content: "Kafka"
}

.neo4j {
    @include tag;
    background-color: #146d82;
}
.neo4j::after {
    content: "Neo4J"
}

.play {
    @include tag;
    background-color: #38a269;
}
.play::after {
    content: "Play"
}

.pulsar {
    @include tag;
    background-color: #146d82;
}
.pulsar::after {
    content: "Apache Pulsar"
}

.pg {
    @include tag;
    background-color: #326d9e;
}
.pg::after {
    content: "PostgreSQL"
}

.scala {
    @include tag;
    background-color: #158967;
}
.scala::after {
    content: "Scala"
}

.spark {
    @include tag;
    background-color: #38a269;
}
.spark::after {
    content: "Spark"
}

.ts {
    @include tag;
    background-color: #326d9e;
}
.ts::after {
    content: "TypeScript"
}
